body {
	background-color: #EAECEE;
	font-family: Verdana, sans-serif;
	height: 100%;
	font-size: 14px;
}

.ui-widget,.ui-widget .ui-widget {
	font-size: 90% !important;
}

#header {
	text-align: center;
}

#header h1 {
	font-size: 250%;
}

.sidebar {
	width: 150px;
	min-height: 500px;
	text-align: left;
}

#container {
	vertical-align: top;
}

.content {
	min-height: 500px;
	width: 100%;
}

.linha {
	width: 5px;
	border-left: 1px solid;
}

#footer {
	text-align: center;
	padding-top: 8px;
	border-top: 1px solid #c0c0c0;
	clear: both;
}

.center {
	text-align: center;
}

.btnColunaAcoes {
	text-align: center;
	width: 20px;
	white-space: nowrap;
}

.btnSaveIcon {
	background: url(../../resources/images/icons/btnSaveIcon.png) !important;
}

.usuarioIcon {
	background: url(../../resources/images/icons/btnUsuarioIcon.png)
		no-repeat 2%;
	padding-left: 22px !important;
}

.ui-panelgrid tr {
	border: 0 none !important;
}

.ui-panelgrid td{
	border: 0 none !important;
	padding: 4px 10px;
}